DKIM record not prepended with v=DKIM1?

Hi Lars!  Thanks for publishing this.  I'm not using it directly but using it as inspiration and comparison to see if I miss anything in my own mail setup.  There is one thing I can't follow.  Isn't your DKIM record missing a leading 'v=DKIM1; ' string?  Or is there any rationale for your choice?

Section 3.6.1 of RFC 6376 says:

```
   v= Version of the DKIM key record (plain-text; RECOMMENDED, default
      is "DKIM1").  If specified, this tag MUST be set to "DKIM1"
      (without the quotes).  This tag MUST be the first tag in the
      record.  Records beginning with a "v=" tag with any other value
      MUST be discarded.  Note that Verifiers must do a string
      comparison on this value; for example, "DKIM1" is not the same as
      "DKIM1.0".
'''

Thanks,
Simon

I wasn't aware of v=DKIM1 being a thing.  :-)  I haven't read that RFC; I just poked around looking at other solutions.

But since it's recommended by the RFC, I've now added it to the script.  Thanks for the heads-up.

Thanks for quick response!